img {
    height: 150px;
}

.description {
    font-size: 20px;
}

#cook-time {
    font-weight: bold;
}

li .ingredients {
    list-style: square;
}

.time {
    color: gray;
}

.external-link {
    color: SeaGreen;
}

h1,
h2,
p,
li {
    font-family: Helvetica;
}